* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header img {
    width: 100px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
    box-shadow: 1px 1px 10px black;
    

    
}
header span {
    
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-left: 20px;

}
#myButton::before {
    content: "=";
    padding: 16px;
}

#myButton.open::before {
    content: "x";
}

#darkMode.open::before {
    content: "🙎🏼‍♂️";
}

h2.dark {
    color: white;
}
.dark {
    background-color: black;
    color: white;
    padding: 20px;
}

.parent {
    
    margin: 5px;
    
}
.card {
    border: 1px solid #1b5c7c;
    background-color: #50C4ED;
    border-radius: 7px;
    margin-bottom: 10px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    font-weight: 600;
}

.card h2 {
    background-color: #387ADF;
    color: black;
    font-size: 20px;
    display: block;
    padding: 14px;
    text-align: center;
}

main h1 {
    margin: 10px;
    font-size: 24px;
}

.card ul {
    padding: 10px;
    margin-left: 10px;
    
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 4px;

}

.current-menu-item {
    background-color: #FBA834;
    color: black;
    font-weight: 700;
}

.rockstar {
    display: none;
}

nav {
    text-align: center;
    background-color: #333A73;
    
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
   
    text-align: center;
    color: white;
    
    margin: auto;
    

}


nav a:hover {
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-color: #FBA834;
    color: black;
    

}

header {
    background-color: #FBA834;
}

footer {
    
    padding: 20px;
    background-color: #333A73;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: auto;
    font-size: 16px;
}

#lastModified {
    font-size: 14px;
    color: #FBA834;
    font-weight: 600;
    
}

.rockstar.open {
    display: block;
}

.rockstar {
    display: none;
}

#darkMode {
    position: absolute;
    top: 1rem;right: 1rem;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: white;
    border: #FBA834;
}